body {
    background: #252525;
    background-image: url("http://cdn.wallpapersafari.com/95/76/FYXMsE.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    color: goldenrod;
    text-shadow: 5px 5px 5px #252525;
}

navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    background: inherit;
    z-index: 10;
    border-bottom: 5px solid goldenrod;
    box-shadow: 5px 5px 5px #252525;
}

navbar h2 {
    margin-top: 5px;
    font-family: 'Megrim', cursive;
    font-weight: bold;
    font-size: 40px;
}

h1 {
    color: goldenrod !important;
    font-family: 'Megrim', cursive;
    font-weight: bold;
}

.jumbotron {
    width: 100%;
    height: 90%;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container-fluid {
    display: flex;
    justify-content: center;
}

.input-group {
    color: goldenrod;
}

form {
    width: 60%;
    align-self: center;
}

input {
    background: none !important;
    border: none !important;
}

.form-control {
    color: goldenrod;
    font-size: 64px;
    height: auto;
    font-weight: bold;
    text-shadow: 5px 5px 5px #252525;
}

.form-control:focus {
    box-shadow: none;
}

.form-control::placeholder {
    border-bottom: 5px solid goldenrod;
    color: rgba(218,165,32,0.4);
}

.input-group-addon {
    background: none !important;
    border: none !important;
}

#search-results {
    position: relative;
    top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.thumbnail {
    width: 18%;
    height: auto;
    background: rgba(37,37,37,0.6);
    border: 4px solid goldenrod;
    border-radius: 4px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    box-shadow: 5px 5px 5px #252525;
}

.img-container {
    width: 100%;
    height: 184px;
    border-bottom: 2px solid goldenrod;
}

img {
    width: 100%;
    max-height: 180px;
}

a, a:hover, a:visited, a:active {
    color: goldenrod;
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:visited, a:active {
    text-shadow: none;
}

#attendance {
    width: 100%;
    height: 30px;
    margin-bottom: -4px
}

.glyphicon {
    background: none;
    border: none;
    color: goldenrod;
}

.add-remove {
    position: relative;
    width: 100%;
    height: 100%;
    font-weight: bold;
    background: none;
    border-top: 4px solid goldenrod;
    border-radius: 4px;
}

.add-remove:hover {
    background: goldenrod;
    border: none;
    color: #252525;
    opacity: 0.85;
    box-shadow: 5px 5px 5px 5px #252525;
}

.hidden {
    display: none;
}